* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* border: 1px solid red; */
}

body {
  padding: 0px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

/* button {
  margin-top: 1rem;
  border: none;
  border-radius: 5rem;
} */

button :hover{
  cursor: pointer;
}


.content {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  padding: 0px 1rem 1rem 1rem;
  border-radius: 20px;
  height: 95vh;
  background-color: pink;
}

.busqueda {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  
  /* border: 2px solid red; */
}

/* .cuadro {
  align-self: center;
  min-width: 85%;
  margin: 1rem 0px 0px 0px;
  border-radius: 10rem;
  background-color: cornsilk;
}

.cuadro p {
  color: gray;
  margin: 8px 1.5rem;
} */

.input-buscar {
  font-size: 1.1rem;
  min-height: 2rem;
  min-width: 65vw;
  padding-left: 1rem;
  border-radius: 15px 0px 0px 15px;
  border-color: gray;
  border-style: solid none solid solid;
}

.search-icon-container {
  border-radius: 0px 10px 10px 0px;
  padding: 2px;
  background-color: salmon;
  /* border-color: gray;
  border-style: solid;
  border-width: 2px 2px 2px 0px; */
}

.search-icon-container :hover {
  cursor: pointer;
}

.search-icon {
  height: 2rem;
  /* margin-top: 4px; */
  margin: 8px 4px 4px 4px
}

.ui-reproductor {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  background-color: crimson;
  border-radius: 2rem;
  justify-content: space-around;
  align-items: flex-end;
}

#video-youtube-empotrado {
  border: 4px solid black;
  background-color: crimson;
  /* flex-grow: 2; */
  border-radius: 2rem;
  width: 400px;
  height: 250px;
}

.informacion {
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  justify-content: flex-end;
  width: 300px;
  height: 100%;
  text-align: left;
}

.informacion * {
  margin: 0px;
}

.tiempo-video {
  /* border: 4px solid black; */
  display: flex;
  flex-direction: column;
  flex-basis: 0px;
  flex-grow: 1;
  justify-content: center;
  padding: 0rem 1rem;
  background-color: antiquewhite;
  border-radius: 2rem;
  width: 600px;
  height: 100%;
}

.tiempo-video * {
  margin: 0px;
}


#progress-bar {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  height: 0.5rem;
  background-color: gray;
  border-radius: 1rem;
}

#progress-current {
  background-color: red;
  height: 0.5rem;
  width: 20%;
  border-radius: 1rem;
}

#progress-ball {
  background-color: red;
  border-radius: 1rem;
  height: 2rem;
  width: 2rem;
  float: right;
  margin-top: -0.7rem;
  margin-right: -1rem;
}

#controles-reproduccion {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0px;
  border: .5rem solid crimson;
  background-color: antiquewhite;
  border-radius: 5rem;
  /* border: 2px solid red; */
}

#controles-reproduccion :hover {
  cursor: pointer;
}

#playlist-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-right: 1rem;
  border-top: 2px solid black;
  overflow: auto;
}

.item-reproduccion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: salmon;
  margin: 6px 0px;
  padding: 4px;
  gap: 4px;
  border-radius: 0.7rem;
  box-shadow: 2px 2px;
}

.item-reproduccion div {
  text-align: center;
}

#like-btn {
  /* background-color: blueviolet; */
  height: 2rem;
  width: 2rem;
}

#like-btn :hover {
  cursor: pointer;
}

#song-name {
  /* background-color: crimson; */
  text-align: left;
  border-left: 1px solid white;
  padding: 0px 1rem;
  flex-grow: 3;
}

#artist-name {
  /* background-color: darkolivegreen; */
  border-left: 1px solid white;
  padding: 0px 1rem;
  flex-basis: 2;
}

#user-name {
  /* background-color: goldenrod; */
  border-left: 1px solid white;
  padding: 0px 1rem;
  flex-basis: 2;
}

#trash-btn {
  /* background-color: rgb(242, 230, 118); */
  border-left: 1px solid white;
  height: 2rem;
  width: 2rem;
}
